# Ignore large assets
assets/Thomas.png
assets/Sandra.png
assets/Michael.png
assets/placeholder-final-cta-image.png
assets/placeholder-pdf-cover.png
assets/placeholder-hero-image.png
assets/placeholder-problem-image.png
assets/placeholder-logo.png
assets/placeholder-benefits-image.png
